Makefile
Makefile.in
.deps
.libs
.msg
*.lo
*.la
*.a
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
config.h.in
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?
.*.swp
